[user]
	name		= Jeremy Bi
	email		= bixuanxbi@gmail.com

[core]
	pager		= less
	editor		= vim
	quotepath	= false
	excludesfile	= ~/.gitignore
	
[color]
	branch		= auto
	diff		= auto
	interactive	= auto
	status		= auto
	ui		= auto
	
[credential]
	helper		= osxkeychain
	
[push]
	default		= tracking
	
[merge]
	tool		= diffmerge
	
[diff]
	tool		= diffmerge
	
[difftool "diffmerge"]
	cmd		= diffmerge \"$LOCAL\" \"$REMOTE\"
	
[mergetool "diffmerge"]
	cmd		= "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode	= true
