[user]
	name = Jeremy Bi
	email = bixuanxbi@gmail.com

[core]
	pager		= less
	editor		= vim
	quotepath	= false
	excludesfile = /Users/jeremybi/.gitignore_global
	
[color]
	branch		= auto
	diff		= auto
	interactive	= auto
	status		= auto
	ui		= auto
	
[credential]
	helper		= osxkeychain
	
[push]
	default         = simple
	
[merge]
	tool		= diffmerge
	
[diff]
	tool		= diffmerge
	
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = bixuanzju
