[user]
	name = Jeremy Bi
	email = bixuanxbi@gmail.com

[core]
	pager		= less
	editor		= vim
	quotepath	= false
	excludesfile = /Users/jeremybi/.gitignore_global
	
[color]
	branch		= auto
	diff		= auto
	interactive	= auto
	status		= auto
	ui		= auto
	
[credential]
	helper		= osxkeychain
	
[push]
	default         = simple
	
[github]
	user = bixuanzju
[magit]
	hideCampaign = true

[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
