[user]
	name		= Jeremy Bi
	email		= xbi@zju.edu.cn
[color]
	ui		= true
[credential]
	helper		= osxkeychain
[push]
	default		= tracking
[merge]
	tool = diffmerge
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
